@font-face {
  font-family: 'Buffalo';
  src: url('/fonts/buffalo/BuffaloInline2Grunge.otf') format('opentype');
}

.buffaloFont {
  font-family: 'Buffalo', sans-serif;
}

.fadeBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
  pointer-events: none;
  z-index: 1;
}